.Petit_alinea{
    text-indent: 25px;
}

.Soulignement{
    text-decoration: underline;
}

.Alinea_paragraphe{
    margin-left: 25px;
}

.Alignement_central{
    text-align: center;
}

.Supprimer_cote_droit{
    max-width: 300px;
}

.Supprimer_soulignement{
    text-decoration: none;
}

.Banniere{
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    border: 2px solid #000000;
    text-align: center;
}

a:visited { /*Permet au liens de rester de la même couleur même après avoir été cliqué dessus */
    color: blue;
}

header, main, footer{
    margin: 0px 200px 0px 200px;
}

html, body{
    height: 100%;
}

body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    width: 100%;
    margin: 0 auto 40px auto;
    position: sticky; /*Permet au menu de rester collé en haut de la page lorsqu'on scroll*/
    top: 0px; 
}

nav ul{ /* Permet de cibler uniquement la liste de notre menu*/
    list-style-type: none; /* Enlève les puces devant les éléments de liste */
}

nav ul::after{ /* Eviter que le menu n'ait une hauteur nulle a cause du float:left */
    content: ""; /*Utiliser avec les pseudo-éléments ::before et ::after et permet de spécifier en CSS un texte, une image ou des guillemts à inserer en tant que contenu CSS. */
    display: table; /* Type d'élément */
    clear: both; /* Arrêt d'un flottant*/
}

nav li{ 
    float: left; /* Permet de n'avoir aucun espace entre les éléments de liste */
    width: 24.5%; 
    text-align: center;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
}

nav a{
    display: block; /* Toute la surface cliquable */
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid transparent; /*Evite le décalage des éléments à cause de la bordure en :hover */
    padding: 10px 0px; /* Agrandit le menu et espace la bordure du texte */
}

nav a:hover{ /*Lorsqu'on passe la souris dessus */
    color:aqua;
    border-bottom: 2px solid gold;
}

footer{
    height: 60px;
    margin-top: auto;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    border:2px black solid;
    text-align: center;
    justify-content: flex-end;
}

.Page1{
    background: linear-gradient(#355C7D, #C06C84);
}

.Page2{
    min-height: 100%;
    padding-bottom: 0px;
    border: 2px solid black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: linear-gradient(#7F7FD5,#91eae4);
}

.Page3{
    background: linear-gradient(#f5af19, #f03723);
}




